.s-hero-post {
    padding-top: 8.3rem;
    padding-bottom: 11.7rem;

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .left-container {
            flex: 1;
            max-width: 72.8rem;

            .title {
                margin-bottom: 4.2rem;

                h2 {
                    margin-top: 1.4rem;
                }
            }
        }

        .right-container {
            flex: 1;
            max-width: 38.4rem;
            margin-top: 4rem;

            .all {
                margin-top: 4.2rem;

                .item-post {
                    position: relative;

                    &:not(:last-child) {
                        margin-bottom: 3.2rem;
                        padding-bottom: 3.2rem;

                        &::after {
                            content: "";
                            background: url("../img/line-divisor.svg") no-repeat center center;
                            width: 100%;
                            height: 0.2rem;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}

.s-artigos {
    background: linear-gradient(180deg, #0F0C1B 85.69%, rgba(15, 12, 27, 0) 100%);
    padding-top: 11.7rem;
    padding-bottom: 12rem;
    border-bottom: 2px solid #1C162E;

    .container {
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 4rem;

            p {
                display: flex;
                align-items: center;
                color: $gray-scale-06;

                img {
                    margin-left: 1.6rem;
                }
            }
        }

        .all {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 32px;
            margin-bottom: 8rem;
        }

        .btn-primary {
            display: block;
            margin: 0 auto;
        }
    }
}

.s-podcast {
    padding-top: 12rem;
    padding-bottom: 12rem;
    border-bottom: 2px solid #1C162E;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4rem;

        .ctrl-slide {
            display: flex;
            align-items: center;
            justify-content: center;

            .swiper-pagination {
                position: relative;
                bottom: 0;
                width: auto;

                .swiper-pagination-bullet {
                    width: 2.4rem;
                    height: 0.3rem;
                    background-color: #F67ACB;
                    border-radius: 0;
                    opacity: 0.25;
                    transition: opacity .6s ease;

                    &-active {
                        opacity: 1;
                    }
                }
            }

            .ctrl {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 6rem;

                .btn {

                    transition: opacity .3s ease;

                    &.swiper-button-disabled {
                        opacity: 0.5;
                        pointer-events: none;
                    }
                }

                .btn-prev {
                    margin-right: 2rem;

                    img {
                        transform: rotate(180deg);

                    }
                }


            }
        }
    }

    .slide-podcast {
        overflow: hidden;
        position: relative;
    }
}

.s-playlist {
    padding-top: 8.6rem;
    padding-bottom: 9rem;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .text-left {
            width: 100%;
            max-width: 20.5rem;
            h4 {
                margin-top: 1.4rem;
            }
        }

        .text-right {
            flex: 1;
            display: flex;
            max-width: 82.4rem;
            align-items: flex-start;
            justify-content: space-between;

            .item-playlist {
                &:hover {
                    h5 {
                        opacity: 1;
                    }
                }
                .icon {
                    display: flex;
                    margin-bottom: 2.2rem;

                    img {
                        &:not(:first-child) {
                            margin-left: 3.2rem;
                        }
                    }
                }

                h5 {
                    opacity: 0.7;
                    transition: opacity .3s ease;
                }
            }
        }
    }
}