.s-detalhes-post {
    position: relative;
    background-color: white;
    padding-top: 4.8rem;
    padding-bottom: 12rem;


    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: #050110;
        width: 100%;
        height: 34.8rem;
        z-index: 0;
    }

    .top-details {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .breadcrumbs {
            display: flex;
            align-items: center;

            li {
                position: relative;

                &:not(:first-child) {
                    margin-left: 4rem;

                }

                &:not(:last-child) {
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0.4rem;
                        right: -2.5rem;
                        width: 0.8rem;
                        height: 1.2rem;
                        background: url("../img/arrow-breadcrumb.svg") no-repeat center center;
                    }

                }

                a {
                    display: block;
                    font-weight: 600;
                    font-size: 1.5rem;
                    line-height: 105%;
                    color: $gray-scale-05;
                    transition: color .3s ease;

                    &:hover {
                        color: white;
                    }
                }

                span {
                    font-weight: 600;
                    font-size: 1.5rem;
                    line-height: 105%;
                    color: #FFFFFF;
                }
            }
        }

        .btn {
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 100%;
            color: #FFFFFF;
            transition: filter .3s ease;

            &:hover {
                filter: brightness(0.6);
            }

            img {
                margin-right: 1.4rem;
            }


        }
    }

    .featured-info-post {
        position: relative;
        z-index: 1;
        margin-top: 4.8rem;
        margin-bottom: 8rem;

        .image {
            width: 100%;
            height: 47.2rem;
            border-radius: 1rem;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .box-info-post {
            position: relative;
            z-index: 2;
            width: 100%;
            max-width: 100.8rem;
            background-color: #FFFFFF;
            box-shadow: 0px 24px 40px -8px rgba(16, 12, 28, 0.06);
            border-radius: 0.8rem;
            padding: 4.8rem 7.2rem;
            margin: 0 auto;
            bottom: 10.4rem;

            .categorie {
                background-color: rgba(246, 122, 203, 0.1);
                padding: 0.5rem;
                border-radius: 0.2rem;
            }

            h1 {
                color: #050110;
                margin-top: 2rem;
                margin-bottom: 2.8rem;
            }

            ul {
                display: flex;
                align-items: center;

                li {
                    position: relative;
                    display: flex;
                    align-items: center;

                    &:not(:first-child) {
                        margin-left: 2.4rem;

                        &::before {
                            content: "";
                            width: 0.4rem;
                            height: 0.4rem;
                            background-color: $gray-scale-05;
                            opacity: 0.3;
                            border-radius: 50%;
                            display: inline-block;
                            margin-right: 2.4rem;
                        }
                    }

                    span {
                        margin-left: 1rem;
                        font-weight: 600;
                        font-size: 1.4rem;
                        line-height: 2.1rem;
                    }
                }
            }

        }
    }

    .info-post-geral {
        display: flex;
        align-items: flex-start;
        margin-top: 8rem;

        .left-content {
            position: sticky;
            top: 10rem;
            flex: 1;
            max-width: 23.6rem;

            h6 {
                color: $gray-scale-01;
            }

            ul {
                position: relative;
                padding-top: 4rem;
                padding-bottom: 4rem;

                &::after {
                    content: "";
                    width: 100%;
                    height: 0.2rem;
                    background: url("../img/line-topics.svg") no-repeat center center;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

                li {
                    &:not(:last-child) {

                        margin-bottom: 1.6rem;
                    }

                    a {
                        display: flex;
                        align-items: flex-start;


                        &.active,
                        &:hover {
                            &:before {
                                background-color: $pink;
                            }

                            span {
                                color: $gray-scale-01;

                            }
                        }

                        &:before {
                            content: "";
                            width: 0.4rem;
                            height: 0.4rem;
                            display: inline-block;
                            border-radius: 50%;
                            background-color: #9995A6;
                            margin-top: 1.1rem;
                            margin-right: 1.6rem;
                            transition: background-color .3s ease;
                        }

                        span {
                            color: $gray-scale-04;
                            line-height: 150%;
                            font-size: 1.6rem;
                            font-weight: 500;
                            flex: 1;
                            transition: color .3s ease;
                        }
                    }
                }
            }

            button {
                display: flex;
                align-items: center;
                margin-top: 2rem;

                &:hover {

                    span {
                        color: $pink;
                    }
                }

                span {
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 100%;
                    color: $gray-scale-01;
                    margin-left: 1.6rem;
                    transition: color .3s ease;
                }
            }
        }

        .right-content {
            flex: 1;
            max-width: 80rem;
            margin-left: 7.6rem;

            .content-post {
                width: 100%;
                border-bottom: 2px solid rgba(28, 22, 46, 0.1);
                padding-bottom: 4rem;
                margin-bottom: 4rem;

                blockquote {
                    border-left: 2px solid rgba(92, 31, 166, 0.15);
                    padding-left: 2.4rem;
                    margin-bottom: 4rem;

                    p {
                        font-size: 1.8rem;
                        font-weight: 400;
                        line-height: 175%;
                        color: $gray-scale-03;
                        margin-bottom: 0;

                    }

                }

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: $gray-scale-01;
                    margin-bottom: 2.4rem;
                }

                p {
                    font-size: 1.8rem;
                    font-weight: 400;
                    line-height: 175%;
                    color: $gray-scale-03;
                    margin-bottom: 1.6rem;

                    a {
                        text-decoration: underline;
                        transition: filter .3s ease;

                        &:hover {
                            filter: brightness(0.5);
                        }
                    }
                }

                ul {
                    padding-left: 3rem;
                    margin-bottom: 4rem;

                    li {
                        list-style-type: disc;
                        font-size: 1.8rem;
                        font-weight: 400;
                        line-height: 175%;
                        color: $gray-scale-03;

                        &:not(:last-child) {
                            margin-bottom: 1.6rem;
                        }

                    }
                }
            }

            .share {
                display: flex;
                align-items: center;
                justify-content: space-between;

                strong {
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 100%;
                    color: $gray-scale-01;
                }

                ul {
                    display: flex;
                    align-items: center;

                    li {
                        &:not(:first-child) {
                            margin-left: 3.2rem;
                        }
                    }


                }
            }

        }
    }

    @media (max-width: 1150px) {
        .featured-info-post {
            margin-bottom: 4rem;

            .box-info-post {
                .image {
                    height: 40.2rem;
                }

                max-width: 90rem;
                padding: 2.8rem 4.2rem;
            }
        }

        .info-post-geral {
            margin-top: 2rem;

            .left-content {
                display: none;
            }

            .right-content {
                max-width: 100%;
                margin-left: 0;

            }
        }
    }

    @media (max-width: 991px) {
        .featured-info-post {
            .image {
                height: 34.2rem;
            }

            .box-info-post {
                max-width: 78rem;
                padding: 2.8rem 4.2rem;
            }
        }
    }

    @media (max-width: 830px) {
        .featured-info-post {
            .image {
                height: 28.2rem;
            }

            .box-info-post {
                max-width: 65rem;

                h1 {
                    font-size: 3.4rem;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .top-details {
            flex-direction: column;
            align-items: flex-start;

            .breadcrumbs {
                flex-wrap: wrap;
                margin-bottom: 3rem;

                li {

                    a,
                    span {
                        font-size: 1.4rem;
                    }

                    &:last-child {
                        margin-left: 0;
                        width: 100%;
                        margin-top: 1.5rem;

                    }
                }
            }

            .btn {
                justify-content: end;
                font-size: 1.4rem;
            }
        }

        .featured-info-post {
            .image {
                height: 26.2rem;
            }

            .box-info-post {
                max-width: 65rem;
                padding: 1.8rem 2.2rem;

                h1 {
                    font-size: 3.2rem;
                }
            }
        }
    }

    @media (max-width: 690px) {
        .featured-info-post {
            .box-info-post {
                max-width: 50rem;

                ul {
                    flex-direction: column;
                    align-items: flex-start;

                    li {
                        &:not(:first-child) {
                            margin-left: 0;
                            margin-top: 2rem;

                            &::before {
                                display: none;
                            }
                        }
                    }
                }
            }

        }
    }

    @media (max-width: 530px) {
        .featured-info-post {
            margin-bottom: 0rem;

            .image {
                height: 22.2rem;
            }

            .box-info-post {
                max-width: 35rem;
                padding: 2.5rem 2rem;
                text-align: center;

                h1 {
                    font-size: 2.2rem;
                    margin-bottom: 1.5rem;
                }

            }
        }

        .info-post-geral {
            margin-top: 0;

            .right-content {
                .content-post {
                    padding-bottom: 2rem;
                    margin-bottom: 2rem;
                    blockquote {
                        padding-left: 1.5rem;
                        margin-bottom: 2rem;

                        p {
                            font-size: 1.6rem;
                        }
                    }

                    h2 {
                        font-size: 2.4rem;
                        margin-bottom: 1.5rem;
                    }

                    p {
                        font-size: 1.6rem;
                        margin-bottom: 1.5rem;
                    }

                    ul {
                        margin-bottom: 1.5rem;
                        li {
                            font-size: 1.6rem;

                            &:not(:last-child) {
                                margin-bottom: 1.5rem;
                            }
                        }
                    }
                }

                .share {
                    flex-direction: column;
                    align-items: flex-start;
                    
                    ul {
                        margin-top: 1.5rem;
                        li {
                            &:not(:first-child) {
                                margin-left: 2rem;
                            }
                        }


                    }
                }
            }
        }
    }

    @media (max-width: 390px) {
        .featured-info-post {
            .box-info-post {
                max-width: 32rem;
            }
        }
    }
}

.s-post-semelhantes {
    padding: 12rem 0;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4rem;

        p {
            display: flex;
            align-items: center;

            img {
                margin-left: 1.5rem;
            }
        }
    }

    .all {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3.2rem;

    }
}