*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
}

html {
    font-size: 62.5%; 

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 1rem;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $purple;
        border-radius: 1rem;
    }
}

body {
    font-family: 'Atyp BL Text', sans-serif;
    font-size: 1rem;
    background-color: black;
}

img {
    display: block;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

section {
    @media(max-width: 1200px) {
        padding: 6rem 0rem !important; 
    }
    @media(max-width: 768px) {
        padding: 5rem 0rem !important;
    }
    @media(max-width: 560px) {
        padding: 4rem 0rem !important;
    }
    
}

