*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%; 
}

body {
    font-family: 'Atyp BL Text', sans-serif;
    font-size: 1rem;
    background-color: black;
}

img {
    display: block;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}


